<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body class="w3-container">

    <div class="w3-card-4 w3-margin w3-padding">
        <h2>User Information</h2>

        <div class="w3-margin-bottom">
            <label>Username:</label>
            <input class="w3-input w3-border" style="color: crimson;" value="<%= user.username %>" disabled />
        </div>
        <div class="w3-margin-bottom">
            <label>Password:</label>
            <input class="w3-input w3-border" style="color: crimson;" value="<%= user.password %>" disabled />
        </div>
        
    </div>

</body>
</html>
